<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <title>My Deep Learning Model</title>
    <style>
        input[type="file"] {
            display: none;
        }
        .custom-file-upload {
            border: 2px solid #000;
            display: block;
            border-radius: 30px;
            background: #ffffff4f;
            padding: 65px 88px;
            cursor: pointer;
        }
        h1{
            font-family: gotham;
            font-size: xxx-large;
            color: white;
        }
    </style>
</head>
<body class="back" data-gr-c-s-loaded="true" style="
    height: 100vh;
    background: linear-gradient(-45deg, #9163f2, #ff8686);
">
    <div class="head" style="
    width: 100%;
    height: 100px;
    color: white;
">
        <h1 align="center" style="
    font-family: gotham;
    font-size: xxx-large;
">
            The Handwritten Digit Recognition
        </h1>
    </div>
    <div align="center" style="
    border: black 2px solid;
    border-radius: 30px;
    margin: 0px 30%;
    padding: 30px;
    background: linear-gradient(-45deg, #9163f2, #ff8686);
">

        <div align="center">

            <h3 style="
    font-family: gotham;
    font-size: xx-large;
    color: white;
">Prediction:</h3>
            {%if data == 0%}
            <h1>0</h1>
            {%elif data == 1%}
            <h1>1</h1>
            {%elif data == 2%}
            <h1>2</h1>
            {%elif data == 3%}
            <h1>3</h1>
            {%elif data == 4%}
            <h1>4</h1>
            {%elif data == 5%}
            <h1>5</h1>
            {%elif data == 6%}
            <h1>6</h1>
            {%elif data == 7%}
            <h1>7</h1>
            {%elif data == 8%}
            <h1>8</h1>
            {%elif data == 9%}
            <h1>9</h1>
            {%endif%}
            <a href="/">Go Back</a>
        </div>
    </div>
</body></html>





